<!DOCTYPE html>
<html>

<!-- the head section -->
<head>
    
    <title>SportsPro Technical Support</title>
    <LINK REL="StyleSheet" HREF="<%=request.getContextPath()%>/styles/main.css" TYPE="text/css">
</head>

<!-- the body section -->
<body>
<header>
    <h1>SportsPro Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
    <nav>
        <ul>
            <li><a href="/BobanMilenkoski_CIS2454SU20_Project2/index.html">Home</a></li>
        </ul>
    </nav>
</header>
